{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

    <header>
        <img src="" alt="logo image">
        <button>Sign Up</button>
        <button>Log In</button>
    </header>

    <h1>Create & Customize Your Dynamic QR code for FREE 
        Easily generate, manage and statistically track your QR codes
    </h1>
    
    <div class="chart">
        <p>1</p>
        <p>GENERATE</p>
        <p>2</p>
        <p>CUSTOMIZE</p>
        <P>DOWNLOAD & USE</P>
        <p>3</p>
    </div>

    <hr>
    <div class="about-us">
        <h1>What Are We Doing</h1>
        <p>QR-aft provides you the ability to create fully customization dynamic QR codes of various categories with further collection of scan statistics.</p>
    </div>

    <div class="benefits">
        <h1>Out Benefits</h1>
        <p>Our QR code generator is easy to use, supports multiple types (URLs, text, Image, etc.), offers customization designs with logos and colors, and provides high-quality downloads in PNG, JPG, or SVG formats. With secure, reliable, and mobile-friendly functionality, it’s perfect for personal or business use, with flexible plans, including a free option.</p>
    </div>
    <hr>

    <h2>Plans & Pricing</h2>

    <div class="free-plan">
        <h2>FREE</h2>
        <p class="price-plan">$0/</p>
        <p class="per-month">Month</p>

        <p>&#10003; Create a single QR code with a 6-month validity. <br></p>
        <p>&#10003; Basic customization options available. <br></p>
        <p>&#10003; Available at no cost for registered users. <br></p>
    </div>
    
    <div class="standart-plan">
        <h2>STANDART</h2>
        <p class="price-plan">$2/</p>
        <p class="per-month">Month</p>

        <p>&#10003; Create and customize up to 10 QR codes per month. <br></p>
        <p>&#10003; Priced at $2 per month for access. <br></p>
        <p>&#10003;  More design options for your QR codes, including colors and logos. <br></p>
    </div>

    <div class="pro-plan">
        <h2>PRO</h2>
        <p class="price-plan">$10/</p>
        <p class="per-month">Month</p>

        <p>&#10003; Generate up to 100 QR codes each month. <br></p>
        <p>&#10003; Full access to all customization and branding options. <br></p>
        <p>&#10003; Access to premium customer support for faster assistance. <br></p>
    </div>

    <hr>

    <footer>
        <div class="general-info">
            <img src="" alt="image logo">
            <p>Generate your own QR Code in just few steps with QR-aft web site </p>
            <p>Freely customize and use any types of QR code</p>
        </div>

        <div class="services">
            <h2>Services</h2>
            <li>Generate QR Code</li>
            <li>Customize CR Code</li>
            <li>Use in different ways</li>
        </div>

        <div class="contact-us">
            <img src="" alt="tg image">
            <img src="" alt="x image">
            <img src="" alt="tiktok image">
            <img src="" alt="inst image">
        </div>
        
        <div>
            <h2>Create, manage and track your QR codes</h2>
            <button class="sign-up-btn">Sign up</button>
        </div>
    </footer>
{% endblock %}
