{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'styles_home/css/home_styles.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}

    <h1 class="intro">
        Create & Customize <br> <span class="free">Your Dynamic QR code for <span class="free2">FREE</span></span>
        <span class="gray-text">Easily generate, manage and statistically track your QR codes</span>
    </h1>


    <div class="chart">
        <div class="step">
            <p class="number">1</p>

            <div class="generate">
                <p class="label">GENERATE</p>
                <div class="line"></div>
            </div>
        </div>
        
        <div class="step">
            <p class="number">2</p>
            <div class="generate">
                <p class="label">CUSTOMIZE</p>
                <div class="line"></div>
            </div>
        </div>

        <div class="step">
            <p class="number">3</p>
            
            <div class="generate">
                <p class="label">DOWNLOAD & USE</p>
                <div class="line"></div>
            </div>
        </div>

        <div class="step">
            <p class="number"><i class='bx bx-check-double'></i></p>
        </div>
    </div>


    <hr>
    <div class="box-info">
        <div class="about-us">
            <h1>What Are We Doing</h1>
            <li>QR-aft provides you the ability to create fully customization dynamic QR codes of various categories with further collection of scan statistics.</li>
            <br>
            <li>Our web application simplifies the process of generating customized QR codes for businesses and individuals.</li>
        </div>

        <div class="benefits">
            <h1>Our Benefits</h1>
            <li>Our QR code generator is easy to use, supports multiple types (URLs, text, Image, etc.), offers customization designs with logos and colors, and provides high-quality downloads in PNG, JPG, or SVG formats.</li>
            <br>
            <li>Secure, reliable, and mobile-friendly functionality, it’s perfect for personal or business use, with flexible plans, including a free option.</li>
        </div>
    </div>
    
    <hr>

    <h2 class="plans">Plans & Pricing</h2>

    <div class="plan-container">
        <div class="free-plan" id="plan-box">
            <div class="top-box">
                <h2>FREE</h2>
                <div class="pricing">
                    <p class="price-plan">$0/</p>
                    <p class="per-month">Month</p>
                </div>
            </div>
            
            <div class="p-container">
                <p>Create a single QR code with a 6-month validity. <br></p>
                <hr>
                <p>Basic customization options available. <br></p>
                <hr>
                <p>Available at no cost for registered users. <br></p>
                <hr>
            </div>
            
        </div>
        
        <div class="standart-plan" id="plan-box">
            <div class="top-box">
                <h2>STANDART</h2>
                <div class="pricing">
                    <p class="price-plan">$2/</p>
                    <p class="per-month">Month</p>
                </div>
            </div>

            <div class="p-container">
                <p>Create and customize up to 10 QR codes per month. <br></p>
                <hr>
                <p>Priced at $2 per month for access. <br></p>
                <hr>
                <p>More design options for your QR codes, including colors and logos. <br></p>
                <hr>
            </div>
            
        </div>

        <div class="pro-plan" id="plan-box">
            <div class="top-box">
                <h2>PRO</h2>
                <div class="pricing">
                    <p class="price-plan">$10/</p>
                    <p class="per-month">Month</p>
                </div>
            </div>
            
            <div class="p-container">
                <p>Generate up to 100 QR codes each month. <br></p> 
                <hr>
                <p>Full access to all customization and branding options. <br></p>
                <hr>
                <p>Access to premium customer support for faster assistance. <br></p>
                <hr>
            </div>
            
        </div>
    </div>


    <hr>

    <footer style="position: relative; bottom: 0">
        <div class="general-info">
            <img src="{% static 'img/white-logo.svg' %}" alt="image logo">
            <li>Generate your own QR Code in just few steps with QR-aft web site</li>
            <li>Freely customize and use any types of QR code</li>
        </div>

        <div class="services">
            <h2>Services</h2>
            <li>Generate QR Code</li>
            <li>Customize CR Code</li>
            <li>Use in different ways</li>
        </div>

        <div class="contact-us">
            <img src="{% static 'img/tg.svg' %}" alt="tg image">
            <img src="{% static 'img/x.svg' %}" alt="x image">
            <img src="{% static 'img/tt.svg' %}" alt="tiktok image">
            <img src="{% static 'img/inst.svg' %}" alt="inst image">
        </div>
        
        <div>
            <h2>Create, manage and track your QR codes</h2>
            <a href="{% url 'registration' %}"><button class="btn-reg">Sign Up</button></a>
        </div>
    </footer>
{% endblock %}
