{% extends "base.html" %}
{% load static %}

{% block title %}
    Generate Qr menu
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'generate/css/generate.css' %}">
{% endblock %}

{% block content %}
    <header>
        <img src="" alt="logo image">
    </header>

    <h1>Select QR types
        Choose the Type of QR Code You Want to Generate
    </h1>

    <div class="qr-choises">
        <div class="web-site-qr">
            <img src="" alt="WEB SITE IMG">
            <p>WEB SITE</p>
            <p>Link to any website</p>
        </div>
        <hr>

        <div class="PDF-qr">
            <img src="" alt="PDF IMG">
            <p>PDF</p>
            <p>Show a PDF</p>
        </div>
        <hr>

        <div class="image-qr">
            <img src="" alt="IMG">
            <p>IMAGE</p>
            <p>Share nise shoots</p>
        </div>
        <hr>

        <div class="video-qr">
            <img src="" alt="VIDEO IMG">
            <p>VIDEO</p>
            <p>Show different videos</p>
        </div>
        <hr>

        <div class="link-qr">
            <img src="" alt="LINK IMG">
            <p>LINK</p>
            <p>Share multiple links</p>
        </div>
        <hr>

        <div class="mp3-qr">
            <img src="" alt="MP3 IMG">
            <p>MP3</p>
            <p>Share favorite albums</p>
        </div>
        <hr>
    </div>
{% endblock %}