{% extends "base.html" %}
{% load static %}

{% block title %}
    my_QrCode
{% endblock %}

{% block links %}
    <link rel="stylesheet" href= "{% static 'my_QrCode_styles/css/style_my_QrCode.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="qr-info">
            <h3>QR Name</h3>

            <div class="qr-body">
                <img src="{% static 'img/qr-img.svg' %}" alt="qr image">

                <div class="qr-prop">
                    <div class="qr-btn">
                        <button class="download"><i class='bx bxs-download'></i></button>
                        <button class="change"><i class='bx bxs-edit-alt'></i></button> 
                    </div>
                    
                    <p class="creation-time">08.02.25</p>
                </div>
                
            </div>

            <div class="description">
                <p>Description for this qr code</p>
            </div>
        </div>

        <div class="container">
            <div class="qr-info">
                <h3>QR Name</h3>
    
                <div class="qr-body">
                    <img src="{% static 'img/qr-img.svg' %}" alt="qr image">
    
                    <div class="qr-prop">
                        <div class="qr-btn">
                            <button class="download"><i class='bx bxs-download'></i></button>
                            <button class="change"><i class='bx bxs-edit-alt'></i></button> 
                        </div>
                        
                        <p class="creation-time">02.02.23</p>
                    </div>
                    
                </div>
    
                <div class="description">
                    <p>Description for this qr code</p>
                </div>
            </div>
    </div>

{% endblock %}

    
