{% extends "base.html" %}
{% load static %}

{% block title %}
    my_QrCode
{% endblock %}

{% block links %}
    <link rel="stylesheet" href= "{% static 'my_QrCode/css/my_QrCode.css' %}">
{% endblock %}

{% block content %}
    <h1>
        my_QrCode
    </h1>

    <header>
        <img src="" alt="gr logo">
    </header>

    <div class="qr-info">
        <div>
            <img src="" alt="qr image">
            <li> QR name </li>
            <li> Description </li>
            <li> (used for) </li> 
        </div>

        <div>
            <img src="" alt="qr image">
            <li> QR name </li>
            <li> Description </li>
            <li> (used for) </li> 
        </div>

        <div>
            <img src="" alt="qr image">
            <li> QR name </li>
            <li> Description </li>
            <li> (used for) </li> 
        </div>
    </div>

    
    
{% endblock %}

    
