{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block links %} {% endblock %}
    </head>

    <body>
        <header style="position: relative; top: 0">
            <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">

            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                    <!-- <li><a href="{% url 'auth' %}">Login</a></li> -->
                    <!-- <li><a href="{% url 'registration' %}">Sign Up</a></li> -->
                    <li><a href="{% url 'my_qrcode' %}">My QR Codes</a></li>
                    <li><a href="{% url 'plan_settings' %}">Plan Settings</a></li>
                    <li><a href="{% url 'generate' %}">Generate QR Code</a></li>
                </ul>  
            </nav>

            <a href="{% url 'auth' %}"><button class="btn-log">Login</button></a>
            <a href="{% url 'registration' %}"><button class="btn-reg">Sign Up</button></a>
        </header>

        {% block content %}
        {% endblock %}
        
    </body>
</html>